<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete</h4>
    </div>
    <div class="modal-body">

        <div>
           Are you sure you want to delete?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$close()">Yes</button>
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">No</button>
    </div>
</div>
